<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper     
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="MonitorDao">
 
    <select id="selectList" resultType="HMap" parameterType="HMap">
	   select 	ens_id, 
	   			as_of_date, 
	   			pred_date,
	   			pred_step, 
	   			ici1_obsv_val as ici1, 
	   			ici3_obsv_val as ici3, 
	   			ici4_obsv_val as ici4, 
	   			gci_obsv_val  as gci
	   from 	pipeline.vw_predict 
	   where 	ens_id = -1 
	   and 		as_of_date between #{fromDate} and #{asOfDate}    
	   order by as_of_date
    </select>
    
    <!-- detail -->
    <select id="selectOne" resultType="HMap" parameterType="HMap">
	   select 	ens_id, 
	   			as_of_date, 
	   			pred_date
	   			pred_step, 
	   			ici1_obsv_val as ici1, 
	   			ici3_obsv_val as ici3, 
	   			ici4_obsv_val as ici4, 
	   			gci_obsv_val  as gci
	   from 	pipeline.vw_predict 
	   where 	ens_id = -1    
    	<if test="asOfDate is not null "> 
	 	 and 	as_of_date = #{asOfDate}
	 	</if>
    	<if test="predDate is not null "> 
	 	 and 	pred_date = #{predDate}
	 	</if>
    	<if test="predStep > 0 "> 
	 	 and 	pred_step = #{predStep}
	 	</if>
    </select>

 
 </mapper>